<section><%= link_to "FormApp", root_path %></section>
<section>
  <%= link_to "Create New Form", root_path %>
  <%= link_to "My Forms", root_path %>
  <%= link_to "Forms Settings", root_path %>
  <%= link_to "Account", root_path %>
  <%= link_to "Sign Out", root_path %>
</section>
