<h1><%= t(:title, scope: [:create]) %></h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %><br /></div>
<% end %>
<p><%= t(:title, scope: [:create, :form]) %></p>
<%= form_for @user_form do |f| -%>
	<%= f.text_field :formname %> <br />
	<%= f.submit %>
<% end -%>
<hr>
<p>Display all created forms</p> <br>
<% if !@user_forms.blank? %>
	<% for item in @user_forms %>
		<%= item.formname %> <br />
	<% end %>
<% else %>

<% end %>
