<section class= 'create_form__title'> <%= t('.title') %></section>
<section class= 'flash--alert'>
 <% @user_form.errors.full_messages.each do |error| %>
  <%= inline_svg_tag 'error.svg', class: 'flash--alert-icon' %>
  <%= t('.error') %>
  <%= error %>
 <% end %>
</section>
<section class= 'create_form__form--content'>
  <%= form_for @user_form do |f| -%>
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name, :class => 'create_form__form--text-field', :maxlength =>'60' %>
    <%= f.submit t('.submit'), :class => 'create_form__form--button' %>
  <% end -%>
</section>
