<h1><%= t('.title') %></h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <% [ flash[:alert] ].flatten.each do |alert| %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<% end %>
<%= form_for @user_form do |f| -%>
	<section>
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </section>
	<%= f.submit t('.submit')%>
<% end -%>
<%= t('.title') %>
