<!DOCTYPE html>
<html>
  <head>
    <title>FormApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/zhh0qyl.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'partials/header' %>
    </header>
    <section class= 'formapp__container'>

      <%= render 'partials/flash' %>
      <%= yield %>
    </section>
    <footer><%= render 'partials/footer' %></footer>
  </body>
</html>
