<!DOCTYPE html>
<html>
  <head>
    <title>FormApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/zhh0qyl.css">
    <link href="//cdn.muicss.com/mui-0.10.2/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.2/js/mui.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'users/partials/header' %>
    </header>
    <section class= 'formapp__container'>

      <%= render 'users/partials/flash' %>
      <%= yield %>
    </section>
    <footer><%= render 'partials/footer' %></footer>
  </body>
</html>
